@using GhostfolioSidekick.PortfolioViewer.WASM.Components.Chat
@using GhostfolioSidekick.PortfolioViewer.WASM.Models
@implements IDisposable
@inherits LayoutComponentBase

<CascadingValue Value="@FilterStateInstance" IsFixed="false">
    <div class="page">
        <header>
            <NavMenu ShowFilters="@ShouldShowFilters"
                     ShowDateFilters="@ShouldShowDateFilters"
                     ShowAccountFilter="@ShouldShowAccountFilters"
                     ShowSymbolFilter="@ShouldShowSymbolFilter"
                     ShowTransactionTypeFilter="@ShouldShowTransactionTypeFilter"
                     ShowSearchFilter="@ShouldShowSearchFilter"
                     TransactionTypes="@TransactionTypes" />
        </header>

        <main class="content">
            <article class="content-body px-4">
                @Body
            </article>
        </main>

        <ChatOverlay />
        <PwaInstallPrompt />
    </div>
</CascadingValue>
